@font-face {
    font-family: "TCKuareen";
    src: url("/fonts/TCKuareen-Regular.otf");
}

:root {
    --primary-color: #32693f;
    --secondary-color: #1b3622;
    --accent-color: #dbc25e;
    --background-color: #222222;
    --text-color: #fff;
    --link-color: #4ea1d3;
    --navbar-color: #4e480e;
    --navbar-text-color: #99c09b;
    --navbar-text: "TCKuareen", Arial, sans-serif;
}

html, body {
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #222222;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

.btn {
    display: inline-block;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: var(--secondary-color) solid 2px;
    border-radius: 0.5em;
    padding: 10px 20px;
    cursor: pointer;
    will-change: transform;
    text-decoration: none;
}

.btn:hover {
    transition: all 0.3s ease;
    background-color: var(--secondary-color);
    transform: scale(1.25) rotate(5deg);
    transform-origin: center;
    border: var(--primary-color) solid 2px;
}

#footer {
    position: absolute;
    width: 100%;
    font-size: 0.9em;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    margin-top: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

#navb {
    position: sticky;
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: var(--navbar-text-color);
    background-color: var(--navbar-color);
    top: 0;
    left: 0;
    font-family: var(--navbar-text);
}